<!DOCTYPE html>
<html>
<head>
  <title>Online Quiz System</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome to Online Quiz System</h1>
  <form action="/quiz" method="get">
    <button type="submit">Start Quiz</button>
  </form>
</body>
</html>
